.background {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
}

.img-branches {
    width: 20%;
    position: relative;
    float: left;
}

h1 {
    float: left;
    margin-top: 8%;
    margin-left: 4%;
    font-family: 'Nanum Gothic', sans-serif;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
}

p {
    font-family: 'Didact Gothic', sans-serif;
}

.home-paragraph {
    display: inline-block;
    position: relative;
    margin-left: 5.4%;
    margin-top: 3%;
    padding-right: 42%;
}

.senators-paragraph {
    display: inline-block;
    position: relative;
    margin-left: 5.4%;
    margin-top: 3%;
    padding-right: 42%;
    padding-bottom: 2%;
}

.congressmen-paragraph {
    display: inline-block;
    position: relative;
    margin-left: 5.4%;
    margin-top: 3%;
    padding-right: 42%;
    padding-bottom: 2%;
}

.attendance-paragraph {
    display: inline-block;
    position: relative;
    margin-left: 5.4%;
    margin-top: 3%;
    padding-right: 42%;
    padding-bottom: 2%;
}

.loyalty-paragraph {
    display: inline-block;
    position: relative;
    margin-left: 5.4%;
    margin-top: 3%;
    padding-right: 42%;
    padding-bottom: 2%;
}

form {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -2.7%
    
}

.footer-note {
    margin-top: 1.2%;
    color: grey;
}

.jumbotron {
    background-color: slategrey;
}

table {
    font-family: 'Nanum Gothic', sans-serif;
}

.drpdwn-button {
    font-family: 'Didact Gothic', sans-serif;
}

.navigation {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    font-family: 'Nanum Gothic', sans-serif;
}

.homepage-img {
    width: 30%;
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    margin-left: -35%
}

#accordion {
    font-family: 'Didact Gothic', sans-serif;
}

.second-paragraph {
    margin-left: -4%;
}

.drpdwn-button {
    margin-left: 85%;
}

